.Logo {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    width: min-content;
    cursor: pointer;
}

.Logo>img {
    height: 2rem;
}

.Logo>span {
    color: #455A64;
    font-size: 14px;
    font-weight: 500;
}